<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
</head>
<body>
    <h1>{{ title }}</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Номер рейса</th>
                <th>Дата отправления</th>
                <th>Время отправления</th>
                <th>Статус рейса</th>
            </tr>
        </thead>
        <tbody>
            {% for flight in flights %}
                <tr>
                    <td>{{ flight[0] }}</td>
                    <td>{{ flight[1] }}</td>
                    <td>{{ flight[2] }}</td>
                    <td>{{ flight[3] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
