{% extends "base.html" %}

{% block content %}
<div style="display: flex;">
    <!-- Основной контент -->
    <div style="flex: 3; margin-right: 20px;">
        <h1>Автобусные перевозки</h1>
        <p>Автобусные перевозки являются важным элементом транспортной системы как в городах, так и в сельской местности. В условиях растущей урбанизации и увеличения числа пассажиров возникает необходимость в:</p>
        <ul>
            <li>Оптимизации маршрутов.</li>
            <li>Улучшение координации времени движения.</li>
            <li>Повышение прозрачности информации для пассажиров.</li>
        </ul>
        <p>Многие перевозчики сталкиваются с проблемами, связанными с:</p>
        <ul>
            <li>Отсутствием централизованного управления.</li>
            <li>Низким уровнем взаимодействия с пользователями.</li>
        </ul>
        <h2>Решение: веб-приложение для автобусных перевозок</h2>
        <p>Разрабатываемое веб-приложение поможет решить эти проблемы, предоставив:</p>
        <ul>
            <li>Удобный инструмент для планирования маршрутов.</li>
            <li>Информирование пассажиров о расписании и изменениях.</li>
            <li>Возможность оперативного реагирования на изменения в транспортной системе.</li>
        </ul>
        <p>Мы стремимся создать современный и удобный сервис, который повысит эффективность перевозок и уровень удовлетворенности пассажиров.</p>
    </div>

    <!-- Блок разработчика -->
      <div style="flex: 1; background-color: #f9f9f9; padding: 10px; border-left: 1px solid #ccc; text-align: center;">
        <img src="{{ url_for('static', filename='mePhoto.jpg') }}" alt="Фото разработчика" style="width: 100px; height: 100px; border-radius: 50%; object-fit: cover; margin-bottom: 10px;">
        <h3>О разработчике</h3>
        <p>Имя: Илья Севастьянов</p>
        <p>Роль: Full-stack разработчик</p>
        <p>Email: sevastyanov-1990@bk.ru</p>
        <p>Описание: Илья занимается разработкой современных веб-приложений. Специализируется на создании удобных интерфейсов и оптимизированных серверных решений.</p>
    </div>
</div>
{% endblock %}
